{% extends 'base.html' %}
{% block content %}

<div class="well spaced">
<h3>{{ movie.title }}</h3>

<div class="row">

  <div class="col-xs-12 col-lg-6">
    <p>Released: {{ movie.released_at }}</p>
    <p>Average rating: {{ average }}</p>
    {% if prediction %}
      <p>We predict you will rate this movie {{ prediction }}.</p>
    {% endif %}


    {% if movie.ratings %}
      <h4>Ratings</h4>
      <ul>
        {% for rating in movie.ratings %}
          <li>
            <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a>
                rated {{ rating.score }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>


  <div class="col-xs-12 col-lg-6">
    {% if eye_rating %}

      <h4>The Judgmental Eye</h4>
      <p>Eye Rating: <b class="text-danger">{{ eye_rating }}</b></p>

      {% if difference %}
        <p>Difference: <b class="text-danger">{{ difference }}</b></p>
      {% endif %}

    {% endif %}

    {% if "user_id" in session %}
        <h4>Your Rating</h4>

      {% if user_rating %}
          <p>You currently rate this a {{ user_rating.score }}</p>
      {% endif %}

        <form action="/movies/{{ movie.movie_id }}" method="POST">
          <div class="form-group">
            <label>Rating:
                <input type="number" name="score"
                       class="form-control input-sm">
            </label>
          </div>
          <input type="submit" value="Submit rating"
                   class="btn btn-danger">
        </form>
    {% endif %}

  </div>
</div>
</div>
{% endblock %}