{% extends 'base.html' %}
{% block content %}
<div class="well spaced">
  <h3>{{ user.email }} ({{ user.user_id }})</h3>

  <b><p style="color:red">Age: {{ user.age }}</p>
  <p style="color:red">Zipcode: {{ user.zipcode }}</p></b>

  {% if user.ratings %}

    <h4>Ratings</h4>
    <ul>
    {% for rating in user.ratings %}
      <li>
        <a href="/movies/{{ rating.movie_id }}">{{ rating.movie.title }}</a>
        was rated {{ rating.score }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}